<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Von Mailandermann</h1> -->
            <div class="contenitorehomepage">
            <img src="/img/titolo.png" class="titolo">
            <hr>





            <div class="subtitle"> 
                <p class="paragrafotestohome">Allevamento cinofilo - pastori tedeschi</p>
            </div>
<!--             <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
 -->        </div>
            </div>  

</div>
</header>
