<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Von Mailandermann</h1> -->
            <div class="contenitorehomepage">
                <div class="subtitle"> 
                    <h3 class="paragrafotestohome">Allevamento cinofilo - pastori tedeschi</h3>
                </div>
                <div class="titolo"> vonmailandermann       </div>





           
<!--             <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
 -->        </div>
            </div>  

</div>
</header>
